/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --wish-color:#e6422c ;
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 0.5s , opacity 0.5s;
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
    overflow: hidden;

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}

.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-wish
{
    background-color: var(--wish-color) !important;
}

.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.bord-min
{
    border: 1px var(--main-color) solid  !important;
}
.loding{
    position:fixed;
    top: 0  ;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 235, 205, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.facbok:hover{
 color: rgb(68, 68, 170);
}


.twiter:hover{
 color: rgb(40, 40, 109);
}

.insta:hover{
    color: rgb(163, 40, 122);
   }

   .tube:hover{
    color: rgb(175, 18, 18);
   }

.carticon{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    /* background-color: red; */
    color: #f0f3f2;
    text-align: center;
padding: 2px;
/* margin:2px ; */

}
.carticon p {
position: relative;
top: -2px;
left: 0;
font-size: small;
}
